@media (max-width: 1210px)
and (min-width: 993px) {
  .btn.wd-media-query {
    width: 118%;
  }
}

.fa-stack.wd-small {
  font-size: 0.55em;
}

@media (max-width: 765px) {
  .wd-cog {
    padding-left: 6px;
  }
}





