.wd-body-font{
  font-family: 'Chirp', sans-serif;
}

.wd-body-bg-color{
  background-color: black;
}

.wd-body-fg-color{
  color: white;
}

.wd-border-setting {
  border-top-style: solid;
  border-color: rgb(47, 51, 54);
  border-width: 1px;
  padding-top: 12px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  margin-left: 16px;
  margin-right: 16px;
}

.wd-float-middle {
  clear: both;
}

.wd-margin-left-side {
  margin-left: 16px;
}

.wd-fg-color-lightgray {
  color: lightgray;
}







